<div id="hero">
    <img src="/images/vehicles/delorean.jpg" alt="A silver DeLorean DMC-12 sports car on display">
    <div id="hero-cta">
        <img src="/images/site/own_today.png" alt="Own Today!">
        <a href="/inv" class="cta-button">See the DeLorean</a>
    </div>
</div>

<section id="upgrades">
    <h2>Upgrades</h2>
    <ul class="upgrade-grid">
        <li>
            <a href="/inv/type/custom">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="CSE Motors Bumper Sticker">
                <span>Bumper Sticker</span>
            </a>
        </li>
        <li>
            <a href="/inv/type/custom">
                <img src="/images/upgrades/flame.jpg" alt="Flame paint upgrade">
                <span>Flame</span>
            </a>
        </li>
        <li>
            <a href="/inv/type/custom">
                <img src="/images/upgrades/hub-cap.jpg" alt="Chrome hub cap">
                <span>Hub Cap</span>
            </a>
        </li>
        <li>
            <a href="/inv/type/custom">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <span>Flux Capacitor</span>
            </a>
        </li>
    </ul>
</section>
